.form-manual{
	width: 780px;
	margin: 0 auto;
	padding: 50px 0 30px;}

.form-manual form{
	color: #7a7a7a;
	border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;}

.form-manual h2{
	font-size: 26px;
    margin: 5px 0 25px;}

.form-manual h4{
	font-size: 20px;
    padding: 10px;}

.form-manual .btn{
    font-size: 16px;
    font-weight: bold;
	background: #70c5c0;
	border: none;
	margin-bottom: 20px;}

.form-manual .btn:hover, .form-manual .btn:focus{
	background: #50b8b3;
    outline: none !important;}

.form-manual a, .form-manual a:hover{
	text-decoration: none;}